.container {
    text-align: center;
    margin: 124px auto 0;
    width: 100%;
    position: relative;
    max-width: var(--max-width);
}

.heroImg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top:0;
    left:0;
    background: transparent;
    z-index: 1;
}

.videoFrame {
    position: relative;
    overflow:hidden;
    background: transparent;
    aspect-ratio: 16/5;

}



.player {
    z-index: 1;
    object-fit: cover;
}



@media screen and (max-width: 768px) {
    .videoFrame {
        aspect-ratio: 16/9;
    }
    .container {
        margin: 58px auto 0;
    }
}
