.container {
    max-width: var(--max-width);
    width: 100%;
    padding: var(--desktopPadding);
    margin-bottom: 50px;

}

.wrap {
    border-radius: 10px;
    margin: auto;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.contactSection {
    width: 50%;
    object-fit: contain;
    padding: 0 25px;
    text-align: center;
    border-left: 1px solid var(--main-background-button-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
    /*background-image: url("../../../public/form.webp");
    background-size: cover;
    background-repeat: no-repeat;*/
}


.socialSection {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto 25px;
}

.socialIcon {
    width: 50px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.socialIcon:hover {
    transform: scale(110%);
}

.socialIcon:first-child {
    margin-right: 10px;
}
.addressSubsection {
    font-size: clamp(12px, 1.5vw, 18px );
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
}
.contactForm {
    width: 50%;

}

.formSection {
    width: 100%;
    padding-right: 25px;
    /*border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/

    margin-bottom: 25px;
/*    color: white;*/

}

.fieldsSectionWrap {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;-*/
    width: 100%;
}
.header {
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;

}

.form {
    width: 100%;
}

.star {
    position: absolute;
    color: var(--main-background-button-color);
    top: 0;
    right: 0;
}

.mapPage {
    margin: auto;
    width: 70%;
}


.mandatoryText {
    font-size: clamp(12px, 1vw, 16px);
    margin-bottom: 25px;
}

.mandatoryText:first-child:after {
    content: " * ";
    color: var(--main-background-button-color);
}

.label, .input::placeholder {

    font-weight: 600;
    font-size: clamp(12px, 1vw, 16px);
    padding:  5px 0;

}

.label {
    padding: 0;
    margin-right: 5px;
}



.input {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--main-background-button-color);
    border-radius: 0;
    outline: none;
    font-size: clamp(12px, 1vw, 16px);
    padding-bottom: 3px;
    font-weight: 600;
    /*color: white;*/
}

.input::placeholder {
    font-weight: 600;
/*    color: white;*/

}

.dateSelector {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}

.dateSelectorField {
    /*margin-bottom: 25px;*/
}

.mandatoryTextWrap, .buttonWrap {
    width: 100%;
    text-align: center;
}

textarea.input {
    resize: none;
    /*min-height: 100px;*/
}

.errorMessage {
    padding-top: 5px;
    color:red;
}

.captcha {
    /*transform: scale(1);*/
    /*transform-origin: 50% 50%;*/
    justify-content: center;
    display: flex;
    width: 100%;
}

.buttonWrap {
   margin: 20px 0;

}

.button {
    background-color: var(--main-background-grey-color);
    color: white;
    padding: 15px;
    transition: background-color .3s ease-in-out;

    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    width: 304px;
}



.link {
    display: block;
    margin-bottom: 5px;
}

.button:hover {
    background-color: #02b502;
}

.button:disabled {
    cursor: not-allowed;
    background-color: var(--disabled);
}

.set {
    outline: none;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    /*padding: 5px;*/
    border-radius: 10px;
    position: relative;

}

.buttonTxt {
    position: relative;

}

.buttonTxt:before {
    content: "";
    width: 20px;
    aspect-ratio: 1;
    display: inline-block;
    background-image: url("../../../public/message.webp");
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
}



@media screen and (max-width: 992px) {

    .dateSelectorField {
        width: auto;
    }
    .container {
        padding: 0;
    }

    .socialSection {
        width: 100%;
    }


}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto 0;

    }
    .dateSelectorField:first-child {
        margin-bottom: 25px;
    }

    .addressSubsection {
        margin-bottom: 10px;
        display: block;
        width: 100%;
        text-align: center;
    }

    .mapPage {
        width: 100%;

    }

    .contactSection {
        width: 100%;
        padding: 0;
        border: none;
    }

    .subHeader {


    }

    .dateSelectorField {
        width: 100%;
    }


    .header {
        text-align: center;
        font-size: 42px;
        margin-bottom: 10px;
    }

    .wrap {
        padding: 0;
        flex-direction: column;
        width: 100%;
        border-radius: 0;
    }


    .contactForm {
        width: 100%;
    }


    .set {
        width: 100%;
    }

    .mandatoryTextWrap, .buttonWrap, .captcha {
        width: 100%;
    }
    .imageSection {
        display: none;
    }

    .captcha {
        margin-bottom: 10px;
    }

    .formSection {
        width: 100%;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);*/
    }
    .socialSection {
        padding: var(--desktopPadding);
    }

}

@media screen and (max-width: 576px) {
    .label {
        width: 10%;
    }
    .socialSection {
        padding: var(--mobilePadding);
    }
    .dateSelector {
        display: block;
    }



    .wrap {
        /*padding: var(--mobilePadding);*/
        border-radius: 0;
    }




    .header {
        font-size: 18px;
    }

    .subHeader {
        font-size: 16px;
        text-align: center;
    }
    .formSection {
        padding: 10px 5px;
    }

}

@media screen and (max-width: 360px) {
    .header, .subHeader {
        letter-spacing: normal;
    }
    .subHeader {
        letter-spacing: normal;
    }
    .captcha {
        transform: scale(.65);
        margin: auto;
    }

    .button {
        width: 100%;
        font-size: 12px;
    }

    .dateSelectorField {
        display: block !important;
    }
}

@media screen and (max-width: 368px) {
    .addressSubsection {
        font-size: 14px;
    }
}
