.container {

    margin: 0 auto 20px;
    max-width: var(--max-width);
    width: 100%;

}

.wrap {
    background-color: var(--main-background-dark-color);
    border-radius: 10px;
    margin: auto;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    width: 50%;

}
/*.imageSection {
    width: 40%;

    object-fit: contain;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url("../../../public/form.webp");
    background-size: cover;
    background-repeat: no-repeat;


}
.imageSectionImg {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


}*/

.contactForm {
    width: 100%;

}

.formSection {
    width: 100%;
    padding: 20px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;

}

.fieldsSectionWrap {
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;-*/
    width: 100%;
}
.header {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
    margin-bottom: 20px;

}

.subHeader {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: clamp(18px, 2vw, 22px);
    letter-spacing: 5px;

}

.form {
    width: 100%;
}

.star {
    position: absolute;
    color: var(--main-background-button-color);
    top: 0;
    right: 0;
}



.mandatoryText {
    font-size: clamp(12px, 1vw, 16px);
    margin-bottom: 25px;
}

.mandatoryText:first-child:after {
    content: " * ";
    color: var(--main-background-button-color);
}

.label, .input::placeholder {

    font-weight: 600;
    font-size: clamp(12px, 1vw, 16px);
    padding:  5px 0;

}

.label {
    padding: 0;
    margin-right: 5px;
}



.input {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    outline: none;
    font-size: clamp(12px, 1vw, 16px);
    padding-bottom: 3px;
    font-weight: 600;
    color: white;
}

.input::placeholder {
    font-weight: 600;
    color: white;

}

.dateSelector {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}

.dateSelectorField {
    /*margin-bottom: 25px;*/
}

.mandatoryTextWrap, .buttonWrap {
    width: 100%;
    text-align: center;
}

textarea.input {
    resize: none;
    /*min-height: 100px;*/
}

.errorMessage {
    padding-top: 5px;
    color:red;
}

.captcha {
    /*transform: scale(1);*/
    /*transform-origin: 50% 50%;*/
    justify-content: center;
    display: flex;
    width: 100%;
}

.buttonWrap {
   margin: 20px 0;

}

.button {
    background-color: var(--main-background-grey-color);
    color: white;
    padding: 15px;
    transition: background-color .3s ease-in-out;

    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    width: 304px;
}




.button:hover {
    background-color: #02b502;
}

.button:disabled {
    cursor: not-allowed;
    background-color: var(--disabled);
}

.set {
    outline: none;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    /*padding: 5px;*/
    border-radius: 10px;
    position: relative;

}

.buttonTxt {
    position: relative;

}

.buttonTxt:before {
    content: "";
    width: 20px;
    aspect-ratio: 1;
    display: inline-block;
    background-image: url("../../../public/message.webp");
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
}



@media screen and (max-width: 992px) {

    .dateSelectorField {
        width: auto;
    }
    .container {
        padding: 0;
    }


    .wrap {
        width: 80%;

    }

}

@media screen and (max-width: 768px) {
    .dateSelectorField:first-child {
        margin-bottom: 25px;
    }


    .subHeader {

        letter-spacing: 5px;

    }

    .dateSelectorField {
        width: 100%;
    }


    .header {
        text-align: center;
        font-size: 42px;
        margin-bottom: 10px;
    }

    .wrap {
        padding: 0;
        flex-direction: column;
        width: 100%;
        border-radius: 0;
    }


    .contactForm {
        width: 100%;
    }


    .set {
        width: 100%;
    }

    .mandatoryTextWrap, .buttonWrap, .captcha {
        width: 100%;
    }
    .imageSection {
        display: none;
    }

    .captcha {
        margin-bottom: 10px;
    }

    .formSection {
        width: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);*/
    }

}

@media screen and (max-width: 576px) {
    .label {
        width: 10%;
    }

    .dateSelector {
        display: block;
    }


    .container {
        margin: 0 auto 0;

    }
    .wrap {
        padding: var(--mobilePadding);
        border-radius: 0;
    }

    .header {
        font-size: 18px;
    }

    .subHeader {
        font-size: 16px;
        text-align: center;
    }
    .formSection {
        padding: 5px;
    }

}

@media screen and (max-width: 360px) {
    .header, .subHeader {
        letter-spacing: normal;
    }
    .subHeader {
        letter-spacing: normal;
    }
    .captcha {
        transform: scale(.65);
        margin: auto;
    }

    .button {
        width: 100%;
        font-size: 12px;
    }

    .dateSelectorField {
        display: block !important;
    }
}

