.container {
    margin: auto;
    padding: var(--desktopPadding);
    height: 100px;
    background-color: #e7e7e7;

}

.contactsSection {
    display: flex;
    max-width: var(--max-width);
    margin: auto;
    justify-content: space-between;
}

.chatBlock {
    height: 0;
    transition: height 0.2s linear;
    border: 1px solid #ef6324;
    margin: auto;
}


.active {
    height: 600px;
}

.absolute {
    position: absolute;
    right: 1%;
    bottom: 100px;
}

.chatContainer {
    width: 300px;
    z-index: 1;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 1%;
    transform: translateY(0);
}

.chatWrap {
    position: relative;
}

.chatBtn {

    background-color: #ef6324;
    color: #fff;
    font-size: 18px;
    border: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 5px 0;
    width: 300px;
    cursor: pointer;
    font-family: Neo-latina, sans-serif;
}

.logoSection {
    width: 15%;
    text-align: left;
    display: block;
}

.logoImg {
    width: 70%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}



.addressSection {
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.addressSubsection, .menuItem, .byKia {
    font-size: clamp(12px, 1.5vw, 18px );
}

.byKia {
    text-align: center;
}


.product {
    font-size: clamp(16px, 1.5vw, 22px );
    margin-bottom: 25px;
}

.link {
    display: block;
}


.menuSection {
    width: 40%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.menuSubSection {
    justify-content: space-between;
}

.menuItem {
    position: relative;

    display: block;
    margin-bottom: 5px;
    text-align: left;
    white-space: nowrap;

}

.menuItem:before {
    position: absolute;
    content: "";
    height: 60%;
    border-left: 2px solid var(--main-background-button-color);
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
}
.menuItem:hover:before {
    border-left: 8px solid var(--main-background-button-color);
}

.socialSection {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 25px;
}

.socialIcon {
    width: 50px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.socialIcon:hover {
    transform: scale(110%);
}

.socialIcon:first-child {
    margin-right: 10px;
}

@media screen and (max-width: 1024px) {
    .addressSection {
        width: 50%;
    }

}



@media screen and (max-width: 768px) {
    .container {
        padding: var(--mobilePadding);
    }

    .product {
        text-align: center;
        margin-bottom: 15px;
    }
    .logoImg {
        width: 20%;
        text-align: center;
        margin: auto;
    }

    .addressSection {
        display: flex;
        width: 50%;
        margin: auto;
        text-align: center;
    }
    .addressSubsection {
        width: 100%;
        text-align: center;
    }
    .contactsSection {
        flex-direction: column-reverse;
        width: 100%;
        /*display: block;
        width: 100%;
        margin: auto;
        text-align: center;*/
    }

    .menuSection {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .addressSection {
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;


    }
    .addressSubsection {
        margin-bottom: 10px;
        display: block;
        width: 100%;

    }

    .menuItem {
        text-decoration: underline var(--main-background-button-color);
        text-underline-offset: 2px;
        text-align: center;
        margin: 0 auto 10px;
    ;
    }

    .menuItem:before {
        display: none;
    }

    .logoSection {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }


}


@media screen and (max-width: 576px) {
    .active {
        height: 300px;
    }
  .byKia {
      font-size: 9px;
      text-align: center;
  }
    .absolute, .fixed {
        right: 50%;
        transform: translateX(50%);
    }

    .logoImg {
        width: 30%;
    }
    .chatBtn {
        font-size: 16px;
    }
}


@media screen and (max-width: 386px){
    .addressSubsection {
        font-size: 9px;
        letter-spacing: unset;
    }
    .menuSubSection {
        width: 100%;

    }

    .menuSection {
        display: block;
    }

    .menuItem {
        width: 100%;
        text-align: center;
    }
}


@media screen and (max-width: 320px) {
    .chatContainer {
        width: 100%;
        /*right: 0;*/

    }
    .addressSubsection {
        font-size: 8px;
    }
    .chatBtn {
        width: 100%;

    }

    .logoImg {
        width: 40%;
    }


}
