.container {
    margin: auto ;
    width: 100%;
    padding: var(--desktopPadding);
    /*background-color: var(--main-background-dark-color);*/
    border-bottom: 2px solid var(--main-background-button-color);
    max-width: var(--max-width);
}

.inner {
    text-align: center;
    margin: auto;

    display: flex;
    flex-direction: column;
    /*align-items: center;-*/

}

.mainHeader {
    font-weight: 400;
    color: var(--main-background-grey-color);
    margin-bottom: 50px;
    text-align: left;

}

.cardSection {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}

.cardHeader {
    font-size: 1.3em;
    color: var(--main-background-grey-color);
    white-space: nowrap;
}

.cardDescription {
    font-size: 1.1em;
    color: var(--main-background-grey-color);
    text-align: left;
}

.cardImg {
    object-fit: contain;
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

@media screen and (max-width: 1024px) {

    .cardSection {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

}


@media screen and (max-width: 992px) {
    .cardHeader {
       /* font-size: 0.8em;*/
    }

    .cardSection {
        max-width: 100%;
    }


}

@media screen and (max-width: 768px) {
    .cardSection {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {

    .container {
        padding: var(--mobilePadding);
        margin: 0 ;

    }

    .cardSection {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        gap: 1rem;
    }
    .cardDescription {
        text-align: justify;
    }

    .cardHeader {
        white-space: normal;

    }

    .cardImg {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .mainHeader {
        width: 100%;
        font-size: 22px;
        margin-bottom: 10px;

    }
}

@media screen and (max-width: 320px) {

    .cardSection {
        grid-template-columns: repeat(1, 1fr);
        /*justify-content: left;*/
    }

    .cardImg {
        margin-bottom: 10px;
    }

    .mainHeader {
        font-size: 1em;
    }
}
