.container {
    margin: 0 auto 25px;
    width: 100%;
    padding: 25px 10px 50px;
    background-color: var(--main-background-dark-color);
}

.inner {
    text-align: center;
    margin: auto;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainHeader {
    font-weight: 400;
    color: white;
    margin-bottom: 50px;

}

.cardSection {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}

.cardHeader {
    font-size: 1em;
    color: white;
    white-space: nowrap;
}

.cardDescription {
    font-size: .85em;
    color: white;
    text-align: left;
}

.cardImg {
    object-fit: contain;
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
    .cardHeader {
        font-size: 0.8em;
    }

    .cardSection {
        max-width: 100%;
    }


}

@media screen and (max-width: 768px) {
    .cardSection {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 576px) {

    .container {
        margin: 0 ;

    }

    .cardSection {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        gap: 1rem;


    }
    .card {
        font-size: 16px;
        /*width: 30%;*/
    }

    .cardHeader {
        white-space: normal;

    }

    .cardImg {
        width: 50px;
        height: 50px;
    }

    .mainHeader {
        width: 100%;
        font-size: 18px;
        margin-bottom: 10px;

    }
}

@media screen and (max-width: 320px) {

    .cardSection {
        grid-template-columns: repeat(1, 1fr);
        /*justify-content: left;*/
    }

    .cardImg {
        margin-bottom: 10px;
    }

    .mainHeader {
        font-size: 1em;
    }
}
