.container {
    border: 2px solid var(--main-background-button-color);
    max-width: var(--max-width);
    margin: auto;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}


.mapContainer {
    width: 100%;
    height: 100%;
    border-radius: 25px;

}

@media screen and (max-width: 768px) {
    .container, .mapContainer {
     border-radius: 0;
        border: none;
        /*border-top: 1px solid var(--main-background-button-color);*/
        /*border-bottom: 2px solid var(--main-background-button-color);*/
    }
    .container {
    aspect-ratio: 16/9;
    }
}
